
@*@using System.Globalization;
@using Microsoft.AspNetCore.Http.Extensions;

@model CatalogViewModel

@{
    ViewData["Title"] = "Favorites";
    var pageLocation = Context.Request.GetDisplayUrl();
}

<section class="">
    <header class="page-heading">
        Favorites
    </header>
    <partial name="_ProductListPartial" model="@Model" />
</section>*@
