.product-list {

    .paging {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__pageIndex-input {
            width: 30px;
            text-align: center;
        }
    }


    &__content {
        display: flex;
        margin-top: 3rem;
        position: relative;

        .left-panel {
            flex: 0 0 22%;
            align-self: flex-start;
            margin-right: 25px;
            position: sticky;
            top: 10px;

            > :not(:last-child) {
                margin-bottom: 10px;
            }

            .btn {
                text-align: center;
            }
        }

        .right-panel {
            flex: 1;
        }
    }

    &__main {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .product {
        display: flex;
        /*flex: 0 0 14%;*/
        flex: 0 0 14%;
        min-width: 150px;
        /*border: 1px solid black;*/
        flex-flow: column nowrap;
        margin: 0 0px 30px 0;

        &__img {
            width: 100%;
            height: 200px;
            border-radius: 10px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__icons {
            display: flex;
            justify-content: space-between;
        }

        &__ratings {
            width: 50%;
            height: 40px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: stretch;

            .star {
                width: 20%;
                position: relative;
                clip-path: polygon(69.06% 39.5%, 99.39% 41%, 99.78% 47%, 79.02% 58.5%, 85.62% 75%, 61.63% 70%, 50.47% 67%, 18.49% 75%, 13.94% 72%, 19.67% 58.5%, -0.16% 47.5%, -0.1% 41.5%, 31.39% 39.5%, 49.78% 23%, 49.31% 23.00%);
                background: url(../images/star.svg) no-repeat center center / contain;
                /* Add to each star as inline style*/
                /*background: url(../images/star.svg) no-repeat center center / contain, linear-gradient(90deg, #EFCE4A 70%, #fff 70%);*/
            }
        }

        &__favorite {
            display: flex;
            align-items: center;
            width: 20px;

            img {
                width: 90%;
                height: 100%;
            }
        }

        &__info {
            width: 100%;
            margin-top: 10px;
        }

        &__title {
            font-size: 1.8rem;
            position: relative;
            height: 6.4rem;
            overflow: hidden;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 70%;
                text-align: right;
                height: 2.2rem;
                background: linear-gradient(to right, rgba(240, 244, 251, 0), rgba(240, 244, 251, 1) 50%);
            }
        }

        &__author {
            $font-height: 1.4rem;
            font-size: $font-height;
            font-weight: 300;
            display: inline-block;
            margin-top: 5px;
            text-transform: capitalize;
            height: 4.6rem;
            overflow: hidden;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 70%;
                text-align: right;
                height: $font-height;
                background: linear-gradient(to right, rgba(240, 244, 251, 0), rgba(240, 244, 251, 1) 50%);
            }
        }

        &__pricing {
            display: flex;
            margin-top: 15px;
            font-weight: 300;
            justify-content: space-between;
            align-items: center;
        }

        &__price {
            font-size: 1.4rem;
        }
    }

    &__footer {
        display: flex;
        /*width: 80%;*/
        margin: 0 auto;
        justify-content: space-between;
    }
}
