@{
    ViewData["Title"] = "Home Page";
}

<div class="page-container">
    <div class="landing-container">
        <section class="landing-left">
            <blockquote class="blockquote">
                <p class="blockquote__quote">Your one-stop shop to satisfy that reading crave</p>
                <footer class="blockquote__cite">Mary Engelbriet</footer>
            </blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a class="btn btn--primary cta" asp-controller="Products" asp-action="Index">Go to Store</a>
        </section>

        <section class="landing-right">
            <div class="rectangular-block"></div>
            <div class="tall-block-container">
                <div class="tall-block block-1"></div>
                <div class="tall-block block-2"></div>
            </div>
            <div class="tall-block block-3"></div>
        </section>
    </div>
</div>
