.page-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 75vh;
    flex-direction: column;
    justify-content: center;
}

.landing-container {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}


.landing-left,
.landing-right{
    flex: 1;
}

.landing-left {
    width: 45%;
    margin-top: 25px;

    blockquote p {
        font-weight: 200;
    }

    > p {
        margin-top: 25px;
        font-size: 1.5rem;
        line-height: 1.4;
        /*color: #9aabb6;*/
        color: #5a6973;
        max-width: 34ch;
    }

    .cta {
        margin-top: 30px;
    }
}

.landing-right {
    width: 50%;
    margin-left: 50px;
    display: flex;
    position: relative;
    flex-grow: 1.3;
}

.rectangular-block {
    height: 170px;
    width: 100px;
    position: relative;
    top: 45%;
    z-index: -1;
    left: 0px;
    background: rgb(254,200,0);
    background: linear-gradient(150deg, rgba(254,200,0,1) 0%, 
        rgba(255,191,14,1) 59%, 
        rgba(254,166,52,1) 100%);
    background-size: contain;
}

.tall-block {
    height: 400px;
    width: 60px;
}

.tall-block-container {
    display: flex;
    justify-content: space-evenly;
    width: 300px;

    .block-1 {
        background: rgb(254,79,92);
        background: linear-gradient(125deg, #fe4f5c 0%, #fe7163 65%, #ff7b61 65%, #ff7b61 100%);
        width: 60%;
    }

    .block-2 {
        background: rgb(137,130,219);
        width: 40%;
        overflow: hidden;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 500%;
            height: 220%;
            z-index: 1;
            transform-origin: 42% 50%;
            background:url(../images/blob-shape-1.svg) -56px 100%/103% no-repeat, 
                url(../images/blob-shape-2.svg) 35px 150%/101% no-repeat;
            animation: backgroundImages 140s linear alternate infinite;
        }
    }
}

.block-3 {
    background: #1d2130;
    position: relative;
    transform: translateX(35px);
    /*margin-left: 30px;*/
    animation: bounceRight 2.5s ease-in-out alternate infinite;
}

@keyframes bounceRight {
    0% {
        transform: translateX(35px);
    }
    
    3% {
        transform: translateX(35px);
    }
    
    90% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes backgroundImages {
    0% {
        background-position: -56px 100%, 35px 150%, 0 0;
        /*background-size: 219%, 308%, 100%;*/
        transform: rotate(0);
    }

    10% {
        background-position: -52px 110%, 59px 120%, 0 0;
        /*background-size: 239%, 268%, 100%;*/
        transform: rotate(182deg);
    }

    20% {
        background-position: -102px 100%, -89px 101%, 0 0;
        /*background-size: 219%, 260%, 100%;*/
        transform: rotate(390deg);
    }

    30% {
        background-position: -52px 100%, -119px 150%, 0 0;
        /*background-size: 200%, 250%, 100%;*/
        transform: rotate(570deg);
    }

    40% {
        background-position: 102px 80%, -149px 120%, 0 0;
        /*background-size: 180%, 280%, 100%;*/
        transform: rotate(740deg);
    }

    50% {
        background-position: 150px 100%, -149px 130%, 0 0;
        /*background-size: 219%, 308%, 100%;*/
        transform: rotate(980deg);
    }

    60% {
        background-position: 150px 100%, -149px 140%, 0 0;
        /*background-size: 219%, 308%, 100%;*/
        transform: rotate(1160deg);
    }

    70% {
        background-position: 100px 80%, -59px 150%, 0 0;
        /*background-size: 239%, 268%, 100%;*/
        transform: rotate(1340deg);
    }

    80% {
        background-position: 102px 100%, -89px 130%, 0 0;
        /*background-size: 219%, 260%, 100%;*/
        transform: rotate(1520deg);
    }

    90% {
        background-position: 52px 100%, -119px 120%, 0 0;
        /*background-size: 200%, 250%, 100%;*/
        transform: rotate(1700deg);
    }

    100% {
        background-position: -33px 123%, -29px 100%, 0 0;
        /*background-size: 180%, 280%, 100%;*/
        transform: rotate(1880deg);
    }
}
