*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: $root_font-size;
    box-sizing: border-box;
}

body {
    font-size: $default_font-size;
    padding: $base_body_padding;
    padding-top: 0;
    max-width: $base_body_max-width;
    margin: auto;
    /*background-color: #EAF2FD;*/
    background-color: $default_bg-color;
    font-family: $default_font-family;
}