@using System.Globalization;
@using Microsoft.AspNetCore.Http.Extensions;

@model CatalogViewModel

@{
    ViewData["Title"] = "Products";
    var pageLocation = Context.Request.GetDisplayUrl();
}

<section class="">
    <header class="page-heading">
        all products
    </header>
    <partial name="_ProductListPartial" model="@Model" />

</section>